html {
    font-size: 62.5%;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container {

}
#logo {
    background-color: #83C05B;
    padding: 5rem;
}
nav {

}
.maincontent {

}
#vision {

}
section {

}
figure {

}
#boxes{

}
#specials {

}
#events {

}
#news {

}
footer {
    
}