/*
Mobile first!
*/

html {
  font-size: 62.5%;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1rem;
}
.container {
    background-color: #83C05B;
}
#logo {
    background-color: #83C05B;
    padding: 1rem;
}
#logo img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
nav {
}
.linkit {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.linkit > * {
    flex-basis: 0;
    flex-grow: 1;
    background-color: #9DCD7C;
    text-align: center;
    border: solid 1px #659343;
    padding: 1rem;
    border-radius: 1rem;
    display: inline-block;
}
a:link, a:active, a:visited {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 1rem 10rem;
}
a:hover {
    color:#0B1E38;
    padding: 1rem;
}

.maincontent {
}
#vision {
  color: black;
  font-size: 1.2rem;
}
h1, h2, h3 {
    background-color: #CBCBCB;
    font-size: 1.1rem;
    margin: 1rem;
    padding: 1rem;
}
figure {
  display: none;
}
#boxes {
}
.fa-angle-right {
    float: right;    
}

#specials img {
    width: 400px;
    margin: 10px;
}
#events img {
    width: 400px;
    margin: 10px;
}
#news {
}
p {
    margin: 10px;
}
footer section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #83C05B;
    color: white;
    padding-top: 10px;
    font-size: 14px;
    justify-content: space-between;
}
.logot{
    display: flex;
    flex-direction: row;
}
p{
    flex-direction: column;
}

.phone{
    color: black;
    background-color:  #83C05B;
}



footer i {
   
    
}



/* Media query, tablet näkymä */

@media only screen and (min-width: 426px) {
  body {
  }
  #vision {
    background-color: #efecdd;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
  }
  #vision section {
    flex-basis: 0;
    flex-grow: 3;
    padding: 1rem;
  }
  figure {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
  }
  figure img {
    width: 100%;
  }
}

